:root{
	--shortcutEnd: 70px;
	--shortcutWidth: 490px;
}


html {
	display:table;
	margin: auto;
	height: 100%;
	width: 100%;
	background: rgba(80,80,80,1);
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
}